---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Thomas Verwaerde"
  description="About Thomas Verwaerde"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Parcours"
        tagline="Découvrez mon parcours et mes compétences"
      >
        <img
          width="1553"
          height="873"
          src="/assets/19formation-1.png"
          alt="Thomas Verwaerde at Valence Wild Code School with colleagues"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            J'ai toujours eu une passion profonde pour la technologie en
            général. J'ai étudié l'électronique, mon premier poste en CDI fût
            dans l'industrie électronique aérospatiale.
          </p>
          <br />
          <p>
            Après 15 ans dans l'industrie, la logistique et la gestion, j'ai
            décidé de revenir à ma passion, qui est le développement. En 2023,
            j'ai suivi une formation à la <a
              href="https://www.wildcodeschool.com">Wild Code School</a
            > pour devenir un développeur web/mobile fullstack.
          </p>
          <br />
          <p>
            Mon ambition est de créer une application innovante et performante
            pour le client.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Titre professionnel développeur web et web mobile - BAC + 2</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>JavaScript, Node, React, TypeScript, Express, MySQL, TDD</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
