---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="full-stack"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Fullstack</h2>
    <p>
      J'ai suivi une formation pour devenir développeur fullstack JavaScript
      React web/mobile à la Wild Code School pendant 7 mois en 2023.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="team" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Esprit d'équipe</h2>
    <p>
      J'apprécie principalement la programmation en binôme et faire partie
      d'équipes de projet. J'aime les environnements collaboratifs où je peux
      apprendre des autres et partager mes connaissances.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="mountain"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Endurance</h2>
    <p>
      Le VTT et la randonnée sont des sports d'endurance qui exigent de
      l'entraînement, de la rigueur et de la force mentale pour atteindre les
      objectifs que l'on s'est fixés. Il en va de même pour le développement de
      tout projet et/ou l'apprentissage de nouvelles technologies.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
